In [42]:
import pandas as pd
data = pd.read_excel("store.xlsx")
print(data.head(10))
# data.loc[(data["Discount"]>0.02,"Discountt")]="Nice discount"
# data.loc[(data["Discount"]<=0.02,"Discountt")]="Bad discount"
# print(data.head(10))
# print("------------------------------------------------------------------------")

   Row ID  Discount  Unit Price  Shipping Cost  Customer ID   Customer Name
0   20847      0.01        2.84           0.93            3   Bonnie Potter
1   20228      0.02      500.98          26.00            5  Ronnie Proctor
2   21776      0.06        9.48           7.29           11   Marcus Dunlap
3   24844      0.09       78.69          19.99           14       Gwendolyn
4   24846      0.08        3.28            NaN           14       Gwendolyn
5   24847      0.05        3.28           4.20           14       Gwendolyn
6   24848      0.05         NaN           1.63           14       Gwendolyn
7   18181      0.00        4.42           4.99           15   Timothy Reese
8   20925      0.01       35.94           6.66           15   Timothy Reese
9   26267      0.04        2.98           1.58           16    Sarah Ramsey

In [ ]:
# data["Customer Discount"] = data["Customer ID"]+data["Discount"]
# print(data)

In [ ]:
data["Percentage"] =(data["Row ID"]/100)*20 #calculate 20% of row id
print(data.head(10))

In [48]:
data = {"Months" : ["January", "February", "March", "April"]}
df = pd.DataFrame(data)
print(df)
def shortenMonth(value):
    return value[0:3]
df["short months"] = df["Months"].map(shortenMonth)
print(df)

     Months
0   January
1  February
2     March
3     April
     Months short months
0   January          Jan
1  February          Feb
2     March          Mar
3     April          Apr