In [4]:
import pandas as pd
data = {"Name":["John","Peter","Samuel","Richard","Daniel"],
       "Age":[21,25,19,45,32],
       "Salary":[30000,18000,32000,28000,45000]
       }

#df=dataFrame
df = pd.DataFrame(data)
print(df)

      Name  Age  Salary
0     John   21   30000
1    Peter   25   18000
2   Samuel   19   32000
3  Richard   45   28000
4   Daniel   32   45000

In [9]:
data = pd.read_csv("gate.csv")
df = pd.DataFrame(data)
print(data)

    Unnamed: 0  Sr No                                   Paper Name Paper Code  \
0            0      1                                Life Sciences         XL
1            1      2                            Civil Engineering         CE
2            2      3                       Electrical Engineering         EE
3            3      4  Computer Science and Information Technology         CS
4            4      5                       Mechanical Engineering         ME
..         ...    ...                                          ...        ...
88          88     89                       Electrical Engineering         EE
89          89     90    Electronics and Communication Engineering         EC
90          90     91  Computer Science and Information Technology         CS
91          91     92                  Instrumentation Engineering         IN
92          92     93        Production and Industrial Engineering         PI

      GEN    OBC  SC/ST  Year
0   31.70  28.50  21.10  2020
1   32.90  29.60  21.90  2020
2   33.40  30.00  22.20  2020
3   28.50  25.60  19.00  2020
4   34.00  30.60  22.60  2020
..    ...    ...    ...   ...
88  25.00  22.50  16.67  2015
89  25.00  22.50  16.67  2015
90  25.00  22.50  16.67  2015
91  25.45  22.90  16.96  2015
92  26.82  24.14  17.88  2015

[93 rows x 8 columns]

In [10]:
data = pd.read_excel("store.xlsx")
print(data)

      Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID  \
0      20847           High      0.01        2.84           0.93            3
1      20228  Not Specified      0.02      500.98          26.00            5
2      21776       Critical      0.06        9.48           7.29           11
3      24844         Medium      0.09       78.69          19.99           14
4      24846         Medium      0.08        3.28           2.31           14
...      ...            ...       ...         ...            ...          ...
1947   19842           High      0.01       10.90           7.46         3397
1948   19843           High      0.10        7.99           5.03         3397
1949   26208  Not Specified      0.08       11.97           5.81         3399
1950   24911         Medium      0.10        9.38           4.93         3400
1951   25914           High      0.10      105.98          13.99         3403

          Customer Name       Ship Mode Customer Segment Product Category  \
0         Bonnie Potter     Express Air        Corporate  Office Supplies
1        Ronnie Proctor  Delivery Truck      Home Office        Furniture
2         Marcus Dunlap     Regular Air      Home Office        Furniture
3     Gwendolyn F Tyson     Regular Air   Small Business        Furniture
4     Gwendolyn F Tyson     Regular Air   Small Business  Office Supplies
...                 ...             ...              ...              ...
1947        Andrea Shaw     Regular Air   Small Business  Office Supplies
1948        Andrea Shaw     Regular Air   Small Business       Technology
1949        Marvin Reid     Regular Air   Small Business  Office Supplies
1950      Florence Gold     Express Air   Small Business        Furniture
1951      Tammy Buckley     Express Air         Consumer        Furniture

      ...   Region State or Province         City  Postal Code Order Date  \
0     ...     West        Washington    Anacortes        98221 2015-01-07
1     ...     West        California  San Gabriel        91776 2015-06-13
2     ...     East        New Jersey      Roselle         7203 2015-02-15
3     ...  Central         Minnesota   Prior Lake        55372 2015-05-12
4     ...  Central         Minnesota   Prior Lake        55372 2015-05-12
...   ...      ...               ...          ...          ...        ...
1947  ...  Central          Illinois     Danville        61832 2015-03-11
1948  ...  Central          Illinois     Danville        61832 2015-03-11
1949  ...  Central          Illinois  Des Plaines        60016 2015-03-29
1950  ...     East     West Virginia     Fairmont        26554 2015-04-04
1951  ...     West           Wyoming     Cheyenne        82001 2015-02-08

      Ship Date     Profit Quantity ordered new    Sales Order ID
0    2015-01-08     4.5600                    4    13.01    88522
1    2015-06-15  4390.3665                   12  6362.85    90193
2    2015-02-17   -53.8096                   22   211.15    90192
3    2015-05-14   803.4705                   16  1164.45    86838
4    2015-05-13   -24.0300                    7    22.23    86838
...         ...        ...                  ...      ...      ...
1947 2015-03-12  -116.7600                   18   207.31    87536
1948 2015-03-12  -160.9520                   22   143.12    87536
1949 2015-03-31   -41.8700                    5    59.98    87534
1950 2015-04-04   -24.7104                   15   135.78    87537
1951 2015-02-11   349.4850                    5   506.50    87530

[1952 rows x 25 columns]