In [3]:
import pandas as pd
data = pd.read_excel("store.xlsx")
print(data)

    Row ID  Discount  Unit Price  Shipping Cost  Customer ID   Customer Name
0    20847      0.01        2.84           0.93            3   Bonnie Potter
1    20228      0.02      500.98          26.00            5  Ronnie Proctor
2    21776      0.06        9.48           7.29           11   Marcus Dunlap
3    24844      0.09       78.69          19.99           14       Gwendolyn
4    24846      0.08        3.28           2.31           14       Gwendolyn
5    24847      0.05        3.28           4.20           14       Gwendolyn
6    24848      0.05        3.58           1.63           14       Gwendolyn
7    18181      0.00        4.42           4.99           15   Timothy Reese
8    20925      0.01       35.94           6.66           15   Timothy Reese
9    26267      0.04        2.98           1.58           16    Sarah Ramsey
10   26268      0.05      115.99           2.50           16    Sarah Ramsey
11   23890      0.05       26.48           6.93           18    Laurie Hanna
12   24063      0.07       12.99           9.44           19     Jim Rodgers
13    5890      0.05       26.48           6.93           21    Tony Wilkins
14    6062      0.08        5.00           3.39           21    Tony Wilkins
15    6063      0.07       12.99           9.44           21    Tony Wilkins
16   20631      0.06       55.48          14.30           24     Edna Thomas
17   20632      0.02        1.68           1.57           24     Edna Thomas
18   23967      0.04        4.14           6.60           27   Guy Gallagher

In [21]:
print(data.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
dtype: bool

In [13]:
print(data["Customer Name"].duplicated())

0     False
1     False
2     False
3     False
4      True
5      True
6      True
7     False
8      True
9     False
10     True
11    False
12    False
13    False
14     True
15     True
16    False
17     True
18    False
Name: Customer Name, dtype: bool

In [26]:
print(data["Discount"].duplicated().sum())

10

In [29]:
print(data.drop_duplicates("Customer Name"))
print("------------------------------------")
print(data)

    Row ID  Discount  Unit Price  Shipping Cost  Customer ID   Customer Name
0    20847      0.01        2.84           0.93            3   Bonnie Potter
1    20228      0.02      500.98          26.00            5  Ronnie Proctor
2    21776      0.06        9.48           7.29           11   Marcus Dunlap
3    24844      0.09       78.69          19.99           14       Gwendolyn
7    18181      0.00        4.42           4.99           15   Timothy Reese
9    26267      0.04        2.98           1.58           16    Sarah Ramsey
11   23890      0.05       26.48           6.93           18    Laurie Hanna
12   24063      0.07       12.99           9.44           19     Jim Rodgers
13    5890      0.05       26.48           6.93           21    Tony Wilkins
16   20631      0.06       55.48          14.30           24     Edna Thomas
18   23967      0.04        4.14           6.60           27   Guy Gallagher
------------------------------------
    Row ID  Discount  Unit Price  Shipping Cost  Customer ID   Customer Name
0    20847      0.01        2.84           0.93            3   Bonnie Potter
1    20228      0.02      500.98          26.00            5  Ronnie Proctor
2    21776      0.06        9.48           7.29           11   Marcus Dunlap
3    24844      0.09       78.69          19.99           14       Gwendolyn
4    24846      0.08        3.28           2.31           14       Gwendolyn
5    24847      0.05        3.28           4.20           14       Gwendolyn
6    24848      0.05        3.58           1.63           14       Gwendolyn
7    18181      0.00        4.42           4.99           15   Timothy Reese
8    20925      0.01       35.94           6.66           15   Timothy Reese
9    26267      0.04        2.98           1.58           16    Sarah Ramsey
10   26268      0.05      115.99           2.50           16    Sarah Ramsey
11   23890      0.05       26.48           6.93           18    Laurie Hanna
12   24063      0.07       12.99           9.44           19     Jim Rodgers
13    5890      0.05       26.48           6.93           21    Tony Wilkins
14    6062      0.08        5.00           3.39           21    Tony Wilkins
15    6063      0.07       12.99           9.44           21    Tony Wilkins
16   20631      0.06       55.48          14.30           24     Edna Thomas
17   20632      0.02        1.68           1.57           24     Edna Thomas
18   23967      0.04        4.14           6.60           27   Guy Gallagher