In [34]:
import pandas as pd
import numpy as np
data = pd.read_excel("store.xlsx")
print(data)

    Row ID  Discount  Unit Price  Shipping Cost  Customer ID   Customer Name
0    20847      0.01        2.84           0.93            3   Bonnie Potter
1    20228      0.02      500.98          26.00            5  Ronnie Proctor
2    21776      0.06        9.48           7.29           11   Marcus Dunlap
3    24844      0.09       78.69          19.99           14       Gwendolyn
4    24846      0.08        3.28            NaN           14       Gwendolyn
5    24847      0.05        3.28           4.20           14       Gwendolyn
6    24848      0.05         NaN           1.63           14       Gwendolyn
7    18181      0.00        4.42           4.99           15   Timothy Reese
8    20925      0.01       35.94           6.66           15   Timothy Reese
9    26267      0.04        2.98           1.58           16    Sarah Ramsey
10   26268      0.05      115.99           2.50           16    Sarah Ramsey
11   23890      0.05       26.48           6.93           18    Laurie Hanna
12   24063       NaN       12.99           9.44           19     Jim Rodgers
13    5890      0.05       26.48           6.93           21    Tony Wilkins
14    6062      0.08        5.00           3.39           21    Tony Wilkins
15    6063      0.07       12.99            NaN           21    Tony Wilkins
16   20631      0.06       55.48          14.30           24     Edna Thomas
17   20632      0.02         NaN           1.57           24     Edna Thomas
18   23967      0.04        4.14           6.60           27   Guy Gallagher

In [6]:
print(data.isnull().sum())

Row ID           0
Discount         1
Unit Price       2
Shipping Cost    2
Customer ID      0
Customer Name    0
dtype: int64

In [14]:
print(data.dropna())

    Row ID  Discount  Unit Price  Shipping Cost  Customer ID   Customer Name
0    20847      0.01        2.84           0.93            3   Bonnie Potter
1    20228      0.02      500.98          26.00            5  Ronnie Proctor
2    21776      0.06        9.48           7.29           11   Marcus Dunlap
3    24844      0.09       78.69          19.99           14       Gwendolyn
5    24847      0.05        3.28           4.20           14       Gwendolyn
7    18181      0.00        4.42           4.99           15   Timothy Reese
8    20925      0.01       35.94           6.66           15   Timothy Reese
9    26267      0.04        2.98           1.58           16    Sarah Ramsey
10   26268      0.05      115.99           2.50           16    Sarah Ramsey
11   23890      0.05       26.48           6.93           18    Laurie Hanna
13    5890      0.05       26.48           6.93           21    Tony Wilkins
14    6062      0.08        5.00           3.39           21    Tony Wilkins
16   20631      0.06       55.48          14.30           24     Edna Thomas
18   23967      0.04        4.14           6.60           27   Guy Gallagher

In [32]:
data["Shipping Cost"] = data["Shipping Cost"].replace(np.nan,data["Shipping Cost"].mean())
print(data)

    Row ID  Discount  Unit Price  Shipping Cost  Customer ID   Customer Name
0    20847      0.01        2.84       0.930000            3   Bonnie Potter
1    20228      0.02      500.98      26.000000            5  Ronnie Proctor
2    21776      0.06        9.48       7.290000           11   Marcus Dunlap
3    24844      0.09       78.69      19.990000           14       Gwendolyn
4    24846      0.08        3.28       7.348824           14       Gwendolyn
5    24847      0.05        3.28       4.200000           14       Gwendolyn
6    24848      0.05         NaN       1.630000           14       Gwendolyn
7    18181      0.00        4.42       4.990000           15   Timothy Reese
8    20925      0.01       35.94       6.660000           15   Timothy Reese
9    26267      0.04        2.98       1.580000           16    Sarah Ramsey
10   26268      0.05      115.99       2.500000           16    Sarah Ramsey
11   23890      0.05       26.48       6.930000           18    Laurie Hanna
12   24063       NaN       12.99       9.440000           19     Jim Rodgers
13    5890      0.05       26.48       6.930000           21    Tony Wilkins
14    6062      0.08        5.00       3.390000           21    Tony Wilkins
15    6063      0.07       12.99       7.348824           21    Tony Wilkins
16   20631      0.06       55.48      14.300000           24     Edna Thomas
17   20632      0.02         NaN       1.570000           24     Edna Thomas
18   23967      0.04        4.14       6.600000           27   Guy Gallagher

In [37]:
print(data)

    Row ID  Discount  Unit Price  Shipping Cost  Customer ID   Customer Name
0    20847      0.01        2.84           0.93            3   Bonnie Potter
1    20228      0.02      500.98          26.00            5  Ronnie Proctor
2    21776      0.06        9.48           7.29           11   Marcus Dunlap
3    24844      0.09       78.69          19.99           14       Gwendolyn
4    24846      0.08        3.28            NaN           14       Gwendolyn
5    24847      0.05        3.28           4.20           14       Gwendolyn
6    24848      0.05         NaN           1.63           14       Gwendolyn
7    18181      0.00        4.42           4.99           15   Timothy Reese
8    20925      0.01       35.94           6.66           15   Timothy Reese
9    26267      0.04        2.98           1.58           16    Sarah Ramsey
10   26268      0.05      115.99           2.50           16    Sarah Ramsey
11   23890      0.05       26.48           6.93           18    Laurie Hanna
12   24063       NaN       12.99           9.44           19     Jim Rodgers
13    5890      0.05       26.48           6.93           21    Tony Wilkins
14    6062      0.08        5.00           3.39           21    Tony Wilkins
15    6063      0.07       12.99            NaN           21    Tony Wilkins
16   20631      0.06       55.48          14.30           24     Edna Thomas
17   20632      0.02         NaN           1.57           24     Edna Thomas
18   23967      0.04        4.14           6.60           27   Guy Gallagher

In [42]:
print(data.bfill())

TypeError: NDFrame.bfill() takes 1 positional argument but 2 were given

In [39]:
print(data.ffill())

    Row ID  Discount  Unit Price  Shipping Cost  Customer ID   Customer Name
0    20847      0.01        2.84           0.93            3   Bonnie Potter
1    20228      0.02      500.98          26.00            5  Ronnie Proctor
2    21776      0.06        9.48           7.29           11   Marcus Dunlap
3    24844      0.09       78.69          19.99           14       Gwendolyn
4    24846      0.08        3.28          19.99           14       Gwendolyn
5    24847      0.05        3.28           4.20           14       Gwendolyn
6    24848      0.05        3.28           1.63           14       Gwendolyn
7    18181      0.00        4.42           4.99           15   Timothy Reese
8    20925      0.01       35.94           6.66           15   Timothy Reese
9    26267      0.04        2.98           1.58           16    Sarah Ramsey
10   26268      0.05      115.99           2.50           16    Sarah Ramsey
11   23890      0.05       26.48           6.93           18    Laurie Hanna
12   24063      0.05       12.99           9.44           19     Jim Rodgers
13    5890      0.05       26.48           6.93           21    Tony Wilkins
14    6062      0.08        5.00           3.39           21    Tony Wilkins
15    6063      0.07       12.99           3.39           21    Tony Wilkins
16   20631      0.06       55.48          14.30           24     Edna Thomas
17   20632      0.02       55.48           1.57           24     Edna Thomas
18   23967      0.04        4.14           6.60           27   Guy Gallagher